@using PrioniaApp.Areas.Client.ViewModels.ShopPage
@model List<TagListItemViewModel>

<h2 class="widgets-title mb-4">Populer Tags</h2>
<ul class="widgets-tag">
    @foreach (var item in Model)
    {
        <li>
            <input type="hidden" value="@item.Id" />
            <a class="select-tag" asp-route="client-shoppage-filter">@item.Title</a>
        </li>
    }
</ul>
