@using PrioniaApp.Areas.Client.ViewModels.ShopPage
@model List<TagListItemViewModel>

<h2 class="widgets-title mb-4">Populer Tags</h2>
<ul class="widgets-tag">
    @foreach (var item in Model)
    {
        <li>
            <a asp-route="client-shoppage-index" asp-route-categoryId="@item.Id">@item.Title</a>
        </li>
    }
</ul>
