@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using PrioniaApp.Areas.Client.ViewModels.Authentication
@model RegisterViewModel

<div class="breadcrumb-area breadcrumb-height"
     data-bg-image="client/assets/images/breadcrumb/bg/1-1-1919x388.jpg">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-12">
                <div class="breadcrumb-item">
                    <h2 class="breadcrumb-heading">Register Page</h2>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>Register</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="login-register-area section-space-y-axis-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 pt-5 pt-lg-0">
                <form method="POST" asp-route="client-auth-register">
                    <div class="login-form">
                        <h4 class="login-title">Register</h4>
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <label>First Name</label>
                                <input asp-for="FirstName" type="text" placeholder="First Name" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 col-12">
                                <label>Last Name</label>
                                <input asp-for="LastName" type="text" placeholder="Last Name" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="col-md-12">
                                <label>Email Address*</label>
                                <input asp-for="Email" type="email" placeholder="Email Address" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label>Password</label>
                                <input asp-for="Password" type="password" placeholder="Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label>Confirm Password</label>
                                <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-custom-size lg-size btn-pronia-primary">
                                    Register
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
