@using PrioniaApp.Areas.Client.ViewModels.Blog
@model List<TagListItemViewModel>

<div class="widgets-item">
    <h2 class="widgets-title mb-4">Populer Tags</h2>
    <ul class="widgets-tag">
        @foreach (var item in Model)
        {
            <li>
                <a href="#">@item.Title</a>
            </li>
        }
    </ul>
</div>
