@using PrioniaApp.Areas.Client.ViewModels.ShopPage
@model List<ColorListItemViewModel>

<h2 class="widgets-title mb-4">Color</h2>
<ul class="widgets-category widgets-color">
    <li>
        <a asp-route="client-shoppage-index">
            <i class="fa fa-chevron-right"></i>
            All <span>(@Model.Count())</span>
        </a>
    </li>
    @foreach (var item in Model)
    {
        <li>
            <a asp-route="client-shoppage-index" asp-route-categoryId="@item.Id">
                <i class="fa fa-chevron-right"></i>
                @item.Title
            </a>
        </li>
    }
 
</ul>