<div class="myaccount-dashboard">
    <p>
        Hello <b>Pronia</b> (not Pronia?
        <a href="login-register.html">Sign out</a>)
    </p>
    <p>
        From your account dashboard you can view your recent
        orders, manage your shipping and billing addresses and
        <a href="#">edit your password and account details</a>.
    </p>
</div>












