<div class="myaccount-details">
    <form action="#" class="myaccount-form">
        <div class="myaccount-form-inner">
            <div class="single-input single-input-half">
                <label>First Name*</label>
                <input type="text" />
            </div>
            <div class="single-input single-input-half">
                <label>Last Name*</label>
                <input type="text" />
            </div>
            <div class="single-input">
                <label>Email*</label>
                <input type="email" />
            </div>
            <div class="single-input">
                <label>
                    Current Password(leave blank to leave
                    unchanged)
                </label>
                <input type="password" />
            </div>
            <div class="single-input">
                <label>
                    New Password (leave blank to leave
                    unchanged)
                </label>
                <input type="password" />
            </div>
            <div class="single-input">
                <label>Confirm New Password</label>
                <input type="password" />
            </div>
            <div class="single-input">
                <button class="btn btn-custom-size lg-size btn-pronia-primary"
                        type="submit">
                    <span>SAVE CHANGES</span>
                </button>
            </div>
        </div>
    </form>
</div>