@using PrioniaApp.Areas.Client.ViewModels.Account
@model List<OrderViewModel>

<div class="myaccount-orders">
    <h4 class="small-title">MY ORDERS</h4>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <th>ORDER</th>
                    <th>DATE</th>
                    <th>STATUS</th>
                    <th>TOTAL</th>
                    <th></th>
                </tr>

                @foreach (var order in Model)
                {
                    <tr>
                        <td>
                            <a class="account-order-id" href="#">@order.Id</a>
                        </td>
                        <td>@order.CreatAt</td>
                        <td>@order.Status</td>
                        <td>$@order.Total for items</td>
                        <td>
                            <a href="#" class="btn btn-dark"><span>View</span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>